<%
unless (@clone_host && @clone_host.name)
  t = _("New Host")
  title(t, (t + ' <span id="hostFQDN"></span>').html_safe)
else
  title(_("Clone Host %s") % @clone_host.name)
end
%>

<%= render :partial => 'form' %>
